@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;800;900&display=swap");

@font-face {
  font-family: "Starjedi";
  src: url("./fonts/Starjedi.ttf");
}

h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Outfit";
}

a {
  text-decoration: none;
  color: white;
}

aside a:hover {
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: white;
}
h3 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: white;
}

h4 {
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: white;
}

html {
  background-image: url("./bg1.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

header {
  width: 100%;

  background-color: #000000;
}

.header-container {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-family: "Starjedi";
  font-size: 50px;
  color: rgb(247, 254, 18);
  text-align: center;
}

nav {
  width: 30%;
  display: flex;
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  list-style: none;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

nav li:hover {
  background-color: rgb(247, 254, 18);
  color: black;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Outfit", sans-serif;
  transition: 0.2s ease-in-out;
  text-align: center;
}

nav ul li:hover a {
  color: black;
}

.hero {
  border-top: 1px solid rgb(247, 254, 18);
  border-bottom: 1px solid rgb(247, 254, 18);
  display: block;
}

.hero h1 {
  font-family: "Starjedi";
  font-size: 125px;
  color: rgb(247, 254, 18);
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.hero h1:hover {
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #e8ff18,
    0 0 30px #fff018, 0 0 40px #f0ff18, 0 0 55px #f0ff18, 0 0 75px #fffb18;
  color: #ffffff;
}

.hero h2 {
  font-family: "Starjedi";
  font-size: 30px;
  color: rgb(247, 254, 18);
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
}

.hero p {
  font-family: "Outfit";
  font-size: 30px;
  color: white;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 51%;
}

main {
  display: flex;
  min-height: 1200px;
  width: 100%;
}

.wrapper {
  display: flex;
  width: 60%;
  margin: auto;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 4rem;
}

.section-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-bottom: 4rem;
}

.article-box {
  border-top: 5px solid rgb(119, 0, 0);
  border-bottom: 5px solid rgb(119, 0, 0);
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.article-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(24, 24, 24, 0.5);
}
.article-footer {
  padding: 2rem;
  background-color: rgb(24, 24, 24);
}
.article-footer p {
  color: white;
}

button {
  --glow-color: rgb(236, 126, 126);
  --glow-spread-color: rgba(255, 123, 123, 0.781);
  --enhanced-glow-color: rgb(255, 206, 206);
  --btn-color: rgb(136, 61, 61);
  outline: none;
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  margin-top: 1rem;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

button:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}

/*ASIDE STYLING*/

aside {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding: 2rem;
}

aside img {
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

aside p {
  color: white;
}

.icons {
  color: white;
  font-size: 30px;
  margin-left: 0.5rem;
}

input {
  padding: 10px;
  margin: 1rem 0 1rem 0;
  border-radius: 10px;
}

.recent-posts {
  margin-top: 2rem;
}

.icons-cat {
  color: white;
  font-size: 25px;
  margin-right: 0.5rem;
}

/*FOOTER*/

footer {
  display: flex;
  background-color: rgb(24, 24, 24);
  padding: 2rem;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75%;
  margin: auto;
}

.footer-left {
  width: 30%;
}
.footer-middle {
  width: 30%;
}
.footer-right {
  width: 30%;
}

footer p {
  color: white;
  margin-top: 1rem;
}

footer .icons {
  margin-top: 1rem;
}

/*ADDED BY MANUEL MA*/
main section:nth-child(3) {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

main section:nth-child(3) .article-box {
  border-top: 5px solid rgb(22, 0, 119);
  border-bottom: 5px solid rgb(22, 0, 119);
  margin-top: 5rem;
  width: 48%;
  display: flex;
  flex-direction: column;
}

main section:nth-child(3) .article-box .article-footer {
  height: 100%;
}

main section:nth-child(3) .article-box .article-footer .article-footer-sub {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

main section:nth-child(3) .article-box:nth-child(1) {
  margin-right: 4%;
}

main section:nth-child(3) .article-box .article-button {
  background-color: rgb(24, 24, 24);
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
}

main section:nth-child(3) .article-box button {
  --glow-color: rgb(126, 137, 236);
  --glow-spread-color: rgba(125, 123, 255, 0.781);
  --enhanced-glow-color: rgb(206, 209, 255);
  --btn-color: rgb(61, 66, 136);
}

main section:nth-child(5) .article-photo-content {
  border-top: 5px solid rgb(5, 139, 0);
  border-bottom: 5px solid rgb(5, 139, 0);
}

main section:nth-child(5) .article-photo-content .photo-galery {
  display: flex;
  flex-wrap: wrap;
}

main section:nth-child(5) .article-photo-content .photo-galery .photo {
  width: 32%;
  margin-bottom: 15px;
}

main
  section:nth-child(5)
  .article-photo-content
  .photo-galery
  .photo:nth-child(n + 2):nth-child(-n + 3),
main
  section:nth-child(5)
  .article-photo-content
  .photo-galery
  .photo:nth-child(n + 5):nth-child(-n + 6) {
  margin-left: 15px;
}

main section:nth-child(5) .article-photo-content .photo-galery .photo img {
  width: 100%;
}

#box-canvas {
  width: 100%;
  height: 100%;
  border-top: 5px solid rgb(95, 0, 139);
  border-bottom: 5px solid rgb(95, 0, 139);
}

#box-canvas2 {
  width: 100%;
  height: 100%;
  border-top: 5px solid rgb(139, 0, 0);
  border-bottom: 5px solid rgb(139, 0, 0);
}

/* ################# CANVAS ################# */

#c {
  background: black;
  width: 100%;
  height: 500px;
}

#canvas {
  background: url("https://i.postimg.cc/6q3KG8Hw/maxresdefault.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 500px;
}

/* ################# END CANVAS ############### */
